# ==========================================================
# MelroseOS Enterprise Update Manager
# Release: MOS5-019
# ==========================================================
RELEASE=MOS5-019
ROOT=D:\MelroseOS\GitHub\MelroseOS
UPDATE_ROOT=UpdateManager
CHANNEL=STABLE
MODE=SAFE
AUTO_CHECK=FALSE
AUTO_DOWNLOAD=FALSE
AUTO_INSTALL=FALSE
REQUIRE_CERTIFICATION=TRUE
REQUIRE_SNAPSHOT=TRUE
ALLOW_ROLLBACK=TRUE
DESTRUCTIVE_ACTIONS=FALSE
