# ==========================================================
# MelroseOS Enterprise Package Manager
# Release: MOS5-018
# ==========================================================
RELEASE=MOS5-018
ROOT=D:\MelroseOS\GitHub\MelroseOS
PACKAGE_ROOT=PackageManager
MODE=SAFE
AUTO_INSTALL=FALSE
AUTO_UPDATE=FALSE
AUTO_REMOVE=FALSE
REQUIRE_CERTIFICATION=TRUE
REQUIRE_SNAPSHOT=TRUE
ALLOW_ROLLBACK=TRUE
DESTRUCTIVE_ACTIONS=FALSE
